@model VehicleInspection.Models.Inspection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.UnitNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.UnitNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brakes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brakes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fluids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fluids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Windshield)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Windshield)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issues)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InspectionID }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.VehicleId})
</p>
