@model VehicleInspection.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.StatusMessage != "")
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.StatusMessage
    </div>
}

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>
            @Html.ActionLink("Change your Email", "ChangeEmail")
        </dd>
        <dt>PIN:</dt>
        <dd>
            @Html.ActionLink("Change your PIN", "ChangePassword")
        </dd>
        <dt>Subscriptions:</dt>
        <dd>
            @Html.ActionLink("Manage your Subscriptions", "ChangeSubscriptions")
        </dd>

    </dl>
</div>
